<%

var menu = [
    {
        title: "Start",
        route: "/"
    },
    {
        title: "Om",
        route: "/about"
    },
    {
        title: "Applikation",
        route: "/app"
    },
    {
        title: "Chatt",
        route: "/chat"
    },
    {
        title: "Databas",
        route: "/ships"
    },
    {
        title: "Redovisningar",
        route: "/report"
    }
];

-%>
<ul>
<% for(var item of menu) { -%>
    <%_ var attr = ((item.route == "/" && req.originalUrl == "/") || (item.route != "/" && req.originalUrl.startsWith(item.route)) ? ' class="active"' : ""); -%>
    <li<%- attr %>><a href="<%= item.route %>"><%= item.title %></a></li>
<% } -%>
</ul>
