version: "3"
services:
    node4:
        image: "node:4"
        user: "node"
        working_dir: /home/node/app/
        environment:
            - DBWEBB_PORT=8101
        volumes:
            - ./:/home/node/app/
        ports:
            - "8101:8101"
        command: "npm start"
        
    node8:
        image: "node:8"
        user: "node"
        working_dir: /home/node/app/
        environment:
            - DBWEBB_PORT=8102
        volumes:
            - ./:/home/node/app/
        ports:
            - "8102:8102"
        command: "npm start"
        
    node9:
        image: "node:9"
        user: "node"
        working_dir: /home/node/app/
        environment:
            - DBWEBB_PORT=8103
        volumes:
            - ./:/home/node/app/
        ports:
            - "8103:8103"
        command: "npm start"

    test1:
        build:
            context: .
            dockerfile: .docker/Dockerfile-node
        user: "node"
        volumes:
            - ./:/home/node/app/

    test2:
        build:
            context: .
            dockerfile: .docker/Dockerfile-node8
        user: "node"
        volumes:
            - ./:/home/node/app/

    test3:
        build:
            context: .
            dockerfile: .docker/Dockerfile-node4
        user: "node"
        volumes:
            - ./:/home/node/app/
