<h1>Om webbplatsen</h1>
<p>
    Denna webbplats är en del i kursen <strong>Webbaserade ramverk 2</strong> i distansprogrammet <em>Webbprogrammering</em> på <a href="http://www.bth.se/">Blekinge Tekniska Högskola</a>. 
    Kursen handlar om utveckling, test och driftsättning av komplexa applikationer baserade på ramverk, där flera servrar samverkar. JavaScript är det huvudsakliga utvecklingsspråket.
</p>
<p>
    Webbplatsens källkod finns på <a href="https://github.com/lrc-se/bth-ramverk2">GitHub</a>.
</p>
<h3>Kursinnehåll</h3>
<ul>
    <li>Ramverk (JS)</li>
    <li><a href="https://www.docker.com/">Docker</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Single-page_application">SPA</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Test-driven_development">TDD</a></li>
    <li><a href="https://en.wikipedia.org/wiki/DevOps">DevOps</a></li>
    <li>Databaskopplingar</li>
    <li>Automatiserad testning och byggning</li>
</ul>
<p class="center"><img src="/img/node.png" alt="Node.js"></p>
