<h1>Applikation</h1>
<p>
    Mitt val av klient/server-applikation är en JS-implementation av spelet <i>Skissa & Gissa</i>, där man ritar ord som de andra spelarna försöker gissa på. 
    De som kommer ihåg Passagen från äldre tiders Internet kanske spelade en variant av det där – det gjorde i alla fall jag. 
    Tanken är att få till en modern version av detta med de tekniker som faller inom ramarna för den här kursen.
</p>
<p>
    Detta upplägg medför behov av realtids&shy;uppdateringar, vilket löses med <i>Web Sockets</i>. I princip hela applikationen bygger på sådan kommunikation, 
    åtminstone vad gäller själva spelflödet, där allt från chatt&shy;meddelanden till ritkommandon och speldirektiv skickas och mottas i båda riktningar över en öppen anslutning.
</p>
<p>
    Se nedan för de ingående teknikvalen.
</p>
<h4>Server</h4>
<ul>
    <li>Express</li>
    <li>databas (MongoDB) för spelare, poäng eller både och</li>
    <li>REST-API för databasåtkomst</li>
    <li><i>Web Sockets</i> med eget JSON-baserat protokoll.</li>
</ul>
<p>
    <a href="https://github.com/lrc-se/bth-sg-server">Servern på GitHub</a>
</p>
<h4>Klient</h4>
<ul>
    <li>SPA-ramverk (Vue)</li>
    <li><i>Canvas</i>-baserad ritning</li>
    <li>chatt (även för gissningar)</li>
    <li>AJAX för databasåtkomst</li>
    <li><i>Web Sockets</i> för utväxling av grafik och meddelanden.</li>
</ul>
<p>
    <a href="https://github.com/lrc-se/bth-sg-client">Klienten på GitHub</a>
</p>
<h3>Modul</h3>
<p>
    För den centrala <i>Web Sockets</i>-komponenten på servern används en fristående modul kallad <code>ws-server</code>, 
    som gör det enklare att implementera serverdelen. Denna modul baserar sig på <code><a href="https://www.npmjs.com/package/ws">ws</a></code> 
    och erbjuder enhetlig och utökad funktionalitet för att hantera anslutningar från klienter.
</p>
<p>
    <a href="https://www.npmjs.com/package/ws-server">ws-server på npm</a><br>
    <a href="https://github.com/lrc-se/bth-ws-server">ws-server på GitHub</a>
</p>
