<h1>Chatt</h1>
<p>blubb</p>
<form id="nick-form">
    <p><label>Smeknamn: <input type="text" name="nick" required></label></p>
    <p><label>Server: <input type="text" name="url" value="ws://" required></label></p>
    <input type="submit" name="connect" value="Anslut">
    <input type="button" name="disconnect" value="Koppla från" disabled>
</form>
<div id="chat-container" style="display: none">
    <div id="chat-roll"></div>
    <form id="chat-form">
        <label id="chat-nick"></label>
        <input type="text" name="msg">
        <input type="submit" value="Skicka">
    </form>
</div>
<script src="/js/chat.js"></script>
