<h1>Chatt</h1>
<p>Testa chattservern här!</p>
<form id="connect-form">
    <p>
        <label>Smeknamn:</label>
        <input type="text" name="nick" maxlength="20" required autofocus>
    </p>
    <p>
        <label>Server:</label>
        <input type="text" name="url" value="ws://" required>
    </p>
    <input type="submit" name="connect" value="Anslut">
    <input type="button" name="disconnect" value="Koppla från" disabled>
</form>
<div id="chat-container" style="display: none">
    <div id="chat-roll"></div>
    <div id="chat-list"></div>
    <form id="chat-form">
        <input type="text" name="msg">
        <input type="submit" value="Skicka">
    </form>
</div>
<script src="/js/chat.js"></script>
