<h1>Kalles sida</h1>
<p>
    Goddagens! Jag heter alltså Kalle och kommer från Östersund. Jag föddes en vacker vinterdag för <%= age %> år sedan här i 
    <a href="http://www.republikenjamtland.se/">Republiken Jamtland</a> – eller ja, om den nu var så vacker vet jag ju faktiskt inte – 
    och har allt sedan dess hedrat världen med min närvaro.
</p>
<p>
    Jag har programmerat i en eller annan form sedan jag upptäckte BASIC under 90-talets första hälft och stötte på HTML strax därefter. Det var tider det! 
    Ett antal olika språk och tekniker har följt sedan dess, men jag har alltid haft en förkärlek för webben och gör nu i och med 
    <a href="https://www.bth.se/distansutbildningar/webbprogrammering">BTH:s distansprogram</a> ett allvarligt försök att utveckla intresset till en mer yrkesmässig roll –
    vilket för övrigt redan lyckats!
</p>
<h4>Varför jag är här</h4>
<ul>
    <li>skaffa formella meriter för kompetens jag redan besitter, att visa upp för dem som bryr sig om papper</li>
    <li>träna mer på saker jag visserligen behärskar, men hittills inte har så stor vana av</li>
    <li>lära mig tekniker, verktyg och metoder jag ännu inte satt tänderna i</li>
    <li>underhålla kunskaper jag inte kan praktisera i jobbet</li>
    <li>utbyta erfarenheter och knyta kontakter</li>
    <li>skriva finurlig kod</li>
    <li>utvecklas.</li>
</ul>
<p>
    På fritiden blir det en hel del fjäll och friluftsliv, såväl sommar som vinter, liksom musicerande av olika slag – 
    jag behärskar mer än en typ av tangenter. Och passa er för mina ordvitsar!
</p>
<br>
<p class="center"><img src="/img/me.jpg" alt="KB"></p>
