<%

var menu = [
    {
        title: "Start",
        route: "/"
    },
    {
        title: "Om",
        route: "/about"
    },
    {
        title: "Applikation",
        route: "/app"
    },
    {
        title: "Chatt",
        route: "/chat"
    },
    {
        title: "Redovisningar",
        route: "/report"
    }
];

-%>
<ul>
<% for(var item of menu) { -%>
    <li<%- (req.route && req.route.path == item.route ? ' class="active"' : "") %>><a href="<%= item.route %>"><%= item.title %></a></li>
<% } -%>
</ul>
