<h1>Redovisningar</h1>
<p>Här följer redovisningarna som hör till kursen.</p>
<h3>Kursmoment:</h3>
<ul>
<% for(var i = 1; i <= 7; ++i) { -%>
    <%_ var x = (i < 7 ? "0" + i : 10); -%>
    <li><a href="#kmom<%= x %>">Kmom<%= x %></a>
<% } -%>
</ul>
<section id="kmom01">
    <h2>Kmom01</h2>
    <p>blubb</p>
</section>
<section id="kmom02">
    <h2>Kmom02</h2>
    <p>blubb</p>
</section>
<section id="kmom03">
    <h2>Kmom03</h2>
    <p>blubb</p>
</section>
<section id="kmom04">
    <h2>Kmom04</h2>
    <p>blubb</p>
</section>
<section id="kmom05">
    <h2>Kmom05</h2>
    <p>blubb</p>
</section>
<section id="kmom06">
    <h2>Kmom06</h2>
    <p>blubb</p>
</section>
<section id="kmom10">
    <h2>Kmom10</h2>
    <p>blubb</p>
</section>
