* {
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background: linear-gradient(#f2f2f2, #fff);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

.wrap {
    max-width: 1100px;
    margin: 0 auto;
}

a {
    color: #11a;
    text-decoration: underline;
}

a:visited {
    color: #64a;
}

p,
ul,
ol,
dl {
    margin: 0 0 1em;
}

ul li,
ol li {
    margin-bottom: .25em;
}

ul li:last-child,
ol li:last-child {
    margin-bottom: 0;
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    font-weight: 700;
    text-align: right;
    flex: 0 0 125px;
}

dd {
    margin-left: 1em;
    flex: 1 1 calc(100% - 125px - 1em);
}

hr {
    width: 50%;
    margin: 0 auto 1em;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

code {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #eee;
}

pre {
    padding: .5em .75em;
    background-image: linear-gradient(#f2f2f2, #fff);
    border: 1px solid rgba(0, 0, 0, .15);
    overflow-x: auto;
}

blockquote {
    position: relative;
    margin: 0 0 1em;
    padding-left: 2em;
    color: #333;
    font-style: italic;
}

blockquote::before {
    content: '"';
    position: absolute;
    left: .75rem;
    top: -.75rem;
    color: #ddd;
    font-family: "Passion One", sans-serif;
    font-size: 2em;
    font-style: normal;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: bottom;
}

h1 {
    margin: 0 0 .333em;
    font-family: "Passion One", sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    line-height: 1.1;
    text-overflow: ellipsis;
    overflow: hidden;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0 .5em;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    line-height: 1.1;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.625em;
}

h5 {
    font-size: 1.333em;
}

h6 {
    font-size: 1.25em;
}

input,
button {
    margin-right: .25em;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type=text],
input[type=number] {
    padding: .25em .5em;
    border: 1px solid #888;
}

input[type=submit],
input[type=button],
button,
a.btn {
    padding: .25em .5em;
    color: #333;
    background-color: #eee;
    border: 1px solid #333;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled {
    color: #888;
    border-color: #888;
    cursor: auto;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    margin: 0;
    padding: 0;
    border: none;
}


#title {
    position: relative;
}

#title > img:last-child {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: #000;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0;
    display: inline-block;
}

nav ul li a {
    padding: .75em 1.5em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: background-color .333s ease-in-out;
}

nav ul li a:visited {
    color: #fff;
}

nav ul li a:hover {
    background-color: #444;
}

nav ul li.active a {
    color: #000;
    background-color: #fff;
}

main {
    padding: 1.5em 2em;
    background-color: #fff;
}

article {
    min-height: 30em;
}

footer {
    padding: 0 2em 1em;
    color: #888;
    background-color: #fff;
    text-align: center;
}

footer hr {
    margin-bottom: 2em;
}

footer a {
    color: #333;
}


.center {
    text-align: center;
}


#chat-container {
    margin: 2em 0 1em;
    padding-top: 2em;
    border-top: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    flex-wrap: wrap;
}

#chat-roll {
    height: 28em;
    max-height: 75vh;
    padding: 0 .75em;
    background-image: linear-gradient(#f2f2f2, #fff);
    border: 1px solid rgba(0, 0, 0, .15);
    word-wrap: break-word;
    overflow-y: auto;
    flex: 1 1 80%;
}

.chat-msg {
    display: flex;
}

.chat-msg:first-child {
    margin-top: .5em;
}

.chat-msg:last-child {
    margin-bottom: .5em;
}

.chat-msg > div:first-child {
    padding-right: .25em;
    flex: 0 0 auto;
}

.chat-msg > div:last-child {
    flex: 1 1 auto;
}

#chat-list {
    margin-left: 1em;
    padding: .25em 0;
    border: 1px dashed rgba(0, 0, 0, .15);
    overflow-y: auto;
    flex: 0 1 calc(20% - 1em);
}

#chat-list > div {
    padding: .25em .75em;
    text-overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
}

#chat-form {
    margin-top: 1em;
    display: flex;
    flex-basis: 100%;
}

#chat-form input[type=text] {
    flex: 1 0 auto;
}

#chat-form input[type=submit] {
    margin-left: .5em;
}


.form-row {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-label {
    margin-right: .5em;
    font-weight: 700;
    text-align: right;
    flex: 0 0 125px;
}

.form-field {
    flex: 1 1 auto;
}

.form-field input[type=text],
.form-field input[type=number] {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
}

.msg {
    margin-bottom: 2em;
}

.msg > div {
    padding: .5em .75em;
    color: #005;
    background-image: linear-gradient(#dde, #f8f8ff);
    border: 2px solid #005;
    display: inline-block;
}

.msg.err > div {
    color: #500;
    background-image: linear-gradient(#edd, #fff8f8);
    border-color: #500;
}

.msg p,
.msg ul {
    margin-bottom: .5em;
}

.x-scroll {
    overflow-x: auto;
}

table {
    width: 100%;
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-spacing: 0;
    font-size: .9em;
}

th,
td {
    padding: .5em .75em;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    vertical-align: top;
}

th {
    color: #fff;
    background-color: #000;
    font-weight: 700;
    text-align: left;
}

th a,
th a:visited {
    color: #fff;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:last-child td {
    border-bottom: none;
}



@media only screen and (max-width: 960px) {
    #chat-roll {
        flex-basis: 75%;
    }
    
    #chat-list {
        flex-basis: calc(25% - 1em);
    }
}


@media only screen and (max-width: 767px) {
    h1 {
        font-size: 3.25em;
    }
    
    h2 {
        font-size: 2.375em;
    }
    
    h3 {
        font-size: 2em;
    }
    
    h4 {
        font-size: 1.5em;
    }
    
    hr {
        width: 66.667%;
    }
    
    nav ul li a {
        padding: .5em 1em;
    }
    
    main {
        padding: 1em 1.5em;
    }
    
    article {
        min-height: 0;
    }
    
    #chat-list {
        margin-top: 1em;
        margin-left: 0;
        flex-basis: 100%;
        order: 3;
    }
}


@media only screen and (max-width: 639px) {
    html {
        font-size: 14px;
    }
    
    blockquote {
        padding-left: 1.5em;
    }
    
    blockquote::before {
        left: .5rem;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.25em;
    }
    
    h3 {
        font-size: 1.75em;
    }
    
    h4 {
        font-size: 1.375em;
    }
    
    h5 {
        font-size: 1.25em;
    }
    
    h6 {
        font-size: 1.125em;
    }
}


@media only screen and (max-width: 479px) {
    h1 {
        font-size: 2.75em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.625em;
    }
    
    h4 {
        font-size: 1.333em;
    }
    
    dt {
        text-align: left;
        flex-basis: 100%;
    }
    
    dd {
        margin-bottom: 1em;
        flex-basis: 100%;
    }
    
    dd:last-child {
        margin-bottom: 0;
    }
    
    hr {
        width: 75%;
    }
    
    .form-label {
        margin: 0;
        text-align: left;
        flex-basis: 100%;
    }
}
