<h1>Återställ databas</h1>
<p>Är du säker på att du vill återställa databasen?</p>
<form action="/ships/reset" method="post">
    <input type="hidden" name="action" value="reset">
    <input type="submit" value="Återställ">
    <a class="btn" href="/ships">Avbryt</a>
</form>
